{% extends "auctions/layout.html" %}

{% block body %}

    {% if categories %}
        <h2>Categories</h2>
        <ul>
            {% for item in categories %}
                <li>
                    <a href="{% url 'category_get' item %}">{{ item }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if category %}
        <h2>{{ category.category_title }}</h2>
        <p><strong>Description:</strong> {{ category.category_desc }}</p>

        <div>
        <ul>
            {% for item in listings %}
                <li>
                    <a href="{% url "item" item.id %}">{{ item.item_title }}</a>
                </li>
                {% empty %}
                <li>
                    No items in this category.
                </li>
            {% endfor %}
        </ul>
        </div>
    {% endif %}
    <a href="{% url "categories" %}">Back</a>
{% endblock %}